/* ==========
   Layout 
   ========== */
   
/* ==========
   Components 
   ========== */
   
/* ==========
   Global Styles 
   ========== */
   
body{
    margin: 0;
}

/* ==========
   Typography 
   ========== */
   




a {
    font-size: 14px;
    text-decoration: none;
    color: gray;
}
span{
    display:inline;
    border: 1px cyan;
}
div{
    border: solid 1px orange;
}
.btn{
    background-color: lightgray;
}
#signin{
    background-color: #4683ea;
    color: white;
    font-weight: 700;
    border-radius: 2px;
    height: 28px;
    width: 70px;
    border: 1px solid #4284f4;
    font-size:13px;
    /*text-align: center;*/
    vertical-align: middle;
    
}
#div-header{
    /*display:inline;*/
    display: inline-flexbox;
    
}
#div-header-left{
    border: solid 1px;
    position: relative;
    float: left;

}#div-header-right{
    /*display:inline-block;*/
    border: solid 1px;
    /*text-align: right;*/
    position: relative;
    float:right;
}}#div-header-right2{
    display:inline;
    border: solid 1px;
    /*text-align: right;*/
    position: relative;
    float:right;
}
#div-footer{
    border: solid 1px purple;
    display:block;
    margin:18px;
 background-color: rgb(242, 247, 246);
}
#div-footer-left{
    /*display:inline-block;*/
    border: solid 1px;
    /*text-align: left;*/
    float: left;

}#div-footer-right{
    /*display:inline-block;*/
    border: solid 1px;
    text-align: right;
    position: relative;
    float:right;
}

#google-image{
    border: solid 1px;
    display:block;
    text-align: center;
    /*vertical-align: middle;*/

}

#about{
    margin: 0px;
}#store{
    margin: 0 80px 0 20px;
}
#gmail{
    margin: 0px;
}

#images{
    margin: 0 0 0 20px;
}

#advertising{
    margin: 0 0 0 20px;
}

#business{
    margin: 0 0 0 20px;
}

#how{
    margin: 0 0 0 20px;
}

#privacy{
    margin: 0 0 0 20px;
}

#terms{
    margin: 0 20px 0 20px;
}

#settings{
    margin: 0 0 0 20px;
}
#google-apps{
    margin: 300px 30px 30px 20px;
    position:relative;
}
#google-image
{
   margin: 5% 0 0 40%;
   
    
}
@media screen and (min-height: 200px){
    #google-image{
        
        margin-top: 10px;
    }
}
#search-text{
    width: 500px;
    height: 40px;
    border-radius: 14px;
    border-color: red;
    border-bottom-color:lime;
    border-bottom: 0px;
    /*border-left: 0px;
    left: 150px;*/
}
#search-magnify-glass
{
    border: 1px purple;
}
