
body{
    margin: 0px;
    padding: 0px;   
}

a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(61, 61, 61);
    margin: 40px 10px;
}

#signin{
    background-color: #4683ea;
    color: white;
    font-weight: 700;
    border-radius: 2px;
    height: 28px;
    width: 70px;
    border: 1px solid #4284f4;
    font-size:13px;
    vertical-align: middle;
}


.right{
   position:fixed;
   right:10px;
}
.left{
   position:fixed;
   left:10px;
}

.top{
   position:fixed;
   top:10px;
}
.bottom{
   position: fixed;
   bottom:10px;
}
nav a{
   color:gray;

}
nav div{
   margin:10px;
}
footer{
   position:fixed;
   bottom:0px;
   width: 100%;
   height: 58px;
   background-color: #d3dbdb;
}
footer div{
   margin:10px;
}
#g-apps{
   position: relative;
   top:5px;
}
.btn{
   background-color: lightgray;
}
#google-logo{
   position: fixed;
   top: 165px;
   left: 350px;
}
#search-text{
   width: 500px;
   height: 45px;
   border-radius: 18px;
   border-color: #a6adad;
   border-width: 1px;
   border-style: solid;
   left: 230px;
   position: fixed;
   top: 315px;
}
#search-magnify-glass
{
   border: 1px purple;
}
#google-search{
   width: 130px;
   height: 30px;
   border-radius: 2px;
   border-color: #d3dbdb;
   border-width: 1px;
   border-style: solid;
   left: 335px;
   position: fixed;
   top: 385px;
   font-size: 14px;

}#lucky{
   width: 140px;
   height: 30px;
   border-radius: 2px;
   border-color: #d3dbdb;
   border-width: 1px;
   border-style: solid;
   left: 480px;
   position: fixed;
   top: 385px;
   font-size: 14px;
}


@media screen and (min-height: 200px){
    #google-logo{        
        margin-top: 10px;
    }
}

